<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./ch3.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />

    <title>Challenge Chapter 3</title>
  </head>
  <body>
    <div id="head-1">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(0, 0, 0, 0.7)">
        <a class="navbar-brand ml-5" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Me</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto mr-5">
            <li class="nav-item" >
              <a class="nav-link d-none" id="userBtn" href="#">Davtras</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  id="registBtn" href="#">Sign Up</a>
            </li>
            <!-- <li class="nav-item" >
              <a class="nav-link" id="loginBtn" href="#" data-toggle="modal" data-target="#logModal">Login</a>
            </li> -->
            <button type="button" id="loginBtn" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#logModal"  >
              Login
            </button>
          </ul>
        </div>
      </nav>

      <!-- End Navbar -->

      <!-- Modal -->
      <div class="modal" id="logModal" tabindex="-1" >
        <div class="modal-dialog bg-dark">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">LOGIN PORTAL</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="formLogin">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="logUser" required placeholder="username">
                <div class="invalid-feedback">
                  Username not found!
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="logPass" required rows="3" placeholder="Password"></input>
                <div class="invalid-feedback">
                  Wrong password!
                </div>
              </div>
            </form>
            </div>
            <div class="modal-footer">
              <button id="buttonClose" type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Close</button>
              <button id="submitButton" type="button" class="btn btn-primary" onclick="dataSend()">
                Login</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Main Title -->
      <div class="main-title">
        <h1>Play Traditional Game</h1>
        <p>Experience new traditional game play</p>
        <a type="button" class="btn btn-warning" onclick="document.location='/game'">Play Now</a>
      </div>
    </div>
    <!-- End Main Title -->

    <!-- Game Lists -->
    <section id="game-lists">
      <div class="game-text">
        <h1>What's so special ?</h1>
        <p>The Games</p>
      </div>
      <div class="game-pic">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="./assets/rockpaperstrategy-1600.jpg" alt="First slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/rockpaperstrategy-1601.jpg" alt="Second slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/rockpaperstrategy-1602.jpg" alt="Third slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/rockpaperstrategy-1603.jpg" alt="Fourth slide" />
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <img src="./assets/left.png" alt="previous" />
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span> -->
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <img src="./assets/right.png" alt="next" />
            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span> -->
          </a>
        </div>
      </div>
    </section>
    <!-- End Game Lists -->

    <!-- Game Features -->
    <div id="features">
      <div class="feat-title">
        <h1>What's so special ?</h1>
        <p class="p1">Features</p>
        <div class="container-timeline">
          <div class="bullet features1">         
          <div class="circle1">
            <h2>Traditonal Games</h2>
            <p>If you miss your childhood, we provide many traditional games here</p>
          </div>
        </div> 
          <div class="bullet features2">
          <div class="circle2"><p>Game Suit</p></div>
        </div>
        <div class="bullet features3">
          <div class="circle3"><p>TBD</p></div>
        </div>
        </div>
      </div>
    </div>
    <!-- End Game Features -->

    <!-- System Requirements -->
    <div id="sysreq">
      <h1>Can My Computer Run this Game ?</h1>
      <div class="container">
        <div class="sys-title">
          <h2>
            System <br />
            Requirements
          </h2>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">
                <h3>OS:</h3>
                <p>Windows 7 64-bit only (No OSX support at this time)</p>
              </th>
              <th scope="col">
                <h3>processor:</h3>
                <p>Intel Core 2 Duo @2.4 GHZ or AMD Athlon X2 @2.8 GHZ</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <h3>memory:</h3>
                <p>4 GB RAM</p>
              </td>
              <td>
                <h3>storage:</h3>
                <p>8 GB available space</p>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <h3>graphic:</h3>
                <p>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End System Requirements -->

    <!-- Top Scores & Footer -->
    <div id="container-bottom">
      <div class="t-score">
        <div class="score-title">
          <h1>Top Scores</h1>
          <p>This top score from various games provided on this platform</p>
          <button type="button" class="btn btn-warning">See More</button>
        </div>
      <div class="top-score1">
          <div class="card">
            <div class="card-body">
              <div class="main-card">
                <div class="profile">
              <img src="./assets/profile1.jpg" alt="#">
            </div>
            <div class="name1">
                <h5 class="card-title">Evan Lahti</h5>
              <h6 class="card-subtitle mb-2 text-muted">PC Gamer</h6>
            </div>
            </div>
              <p class="card-text">"One of my gaming highlights of the year."</p>
              <p class="card-text"><small class="text-muted">June 18, 2021</small></p>
            </div>
          </div>
         
          <br>
      <div class="top-score2">
          <div class="card">
            <div class="card-body">
              <div class="main-card">
                <div class="profile">
              <img src="./assets/profile3.jpg" alt="#">
            </div>
            <div class="name2">
              <h5 class="card-title">Jada Griffin</h5>
              <h6 class="card-subtitle mb-2 text-muted">Nerdreactor</h6>
            </div>
            </div>
              <p class="card-text">"The next big thing in the world of streaming and survival games."</p>
              <p class="card-text"><small class="text-muted">July 10, 2021</small></p>
            </div>
          </div>

          <br>
      <div class="top-score3">
          <div class="card">
            <div class="card-body">
              <div class="main-card">
                <div class="profile">
              <img src="./assets/profile2.jpg" alt="#">
            </div>
              <div class="name3">
              <h5 class="card-title">Aaron Williams</h5>
              <h6 class="card-subtitle mb-2 text-muted">Uproxx</h6>
            </div>
            </div>
              <p class="card-text">"Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous."</p>
              <p class="card-text"><small class="text-muted">December 24, 2018</small></p>
            </div>
          </div>
        </div>
      </div>
    <br>
      </div>
      </div>

      <footer>
        <div class="box">
          <div class="footer1">
            <ul class="footer-list">
              <li>Main</li>
              <li>About</li>
              <li>Game Features</li>
              <li>System Requirements</li>
              <li>Quotes</li>
            </ul>
            <ul class="footer-list2">
              <li>
                <a href="facebook.com">
                  <span class="facebook-icon">
                    <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M6.65382 19.1726H2.56282V9.67859H0.517822V6.40559H2.56282V4.44159C2.56282 1.77259 3.71782 0.183594 6.99582 0.183594H9.72582V3.45659H8.02082C6.74282 3.45659 6.65882 3.91459 6.65882 4.76859L6.65382 6.40559H9.74582L9.38382 9.67859H6.65382V19.1726Z"
                        fill="white"
                      />
                    </svg>
                  </span>
                </a>
              </li>
              <li>
                <a href="twitter.com">
                  <span class="twitter-icon">
                    <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        opacity="0.3"
                        d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z"
                        fill="white"
                      />
                    </svg>
                  </span>
                </a>
              </li>
              <li>
                <a href="youtube.com">
                  <span class="youtube-icon">
                    <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M20.61 0.183594H5.98961C3.12627 0.183594 0.799805 2.55085 0.799805 5.4644V12.8973C0.799805 15.8163 3.12627 18.1781 5.98961 18.1781H20.6046C23.4733 18.1781 25.7944 15.8108 25.7944 12.8973V5.4644C25.7998 2.55085 23.4733 0.183594 20.61 0.183594ZM17.0959 9.54779L10.2575 12.8642C10.0731 12.9524 9.86705 12.82 9.86705 12.6103V5.7679C9.86705 5.55821 10.084 5.42578 10.2629 5.51958L17.1013 9.04564C17.3074 9.15048 17.302 9.44846 17.0959 9.54779Z"
                        fill="#FF1313"
                      />
                    </svg>
                  </span>
                </a>
              </li>
              <li>
                <a href="twitch.com">
                  <span class="twitch-icon">
                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M19.9602 13.6252V9.5538V0.680176H2.93894L0.811279 2.97688V15.0868H6.13043V18.845H8.47085L11.024 16.1307H17.407L19.9602 13.6252ZM7.40694 13.4165H4.00268C3.76864 13.4165 3.57715 13.2286 3.57715 12.9989V2.76817C3.57715 2.5385 3.76864 2.35059 4.00268 2.35059H17.6197C17.8537 2.35059 18.0452 2.5385 18.0452 2.76817V10.7022C18.0452 10.8171 18.0027 10.9215 17.9229 10.9998L15.5825 13.2965C15.5027 13.3748 15.391 13.4165 15.2793 13.4165H11.3697L8.07183 15.6401C8.00268 15.6871 7.91757 15.7132 7.83247 15.7132C7.76332 15.7132 7.69949 15.6976 7.63566 15.6662C7.49204 15.5932 7.40694 15.4522 7.40694 15.2956V13.4165Z"
                        fill="white"
                      />
                      <path d="M13.79 9.76274V5.58691H12.0878V9.76274H13.79ZM9.53465 9.76274V5.58691H7.83252V9.76274H9.53465Z" fill="white" />
                    </svg>
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="footer2">
            <ul class="footer-copyright">
              <li>© 2018 Your Games, Inc. All Right Reserved</li>
            </ul>
            <ul class="footer-terms">
              <li>Privacy policy | Terms of services | Code of conduct</li>
            </ul>
          </div>
        </div>
      </footer>
    
    <!-- End Top Scores & Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/login.js"></script>
  </body>
</html>
