<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="./bootstrap.min.css" />
    <link rel="stylesheet" href="ch4.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet" />

    <title>Challenge Chapter 4</title>
  </head>
  <body>
    <div class="main-title">
      <div class="back" onclick="document.location = '/'"><</div>
      <div class="logo"><img src="./assets/logo-1.png" alt="" /></div>
      <div class="title-game">ROCK PAPER SCISSORS</div>
    </div>

    <div class="main-container">
      <div class="player-1">
        <h2>PLAYER 1</h2>

        <div class="rock" id="selection"><img src="./assets/batu.png" alt="" /></div>

        <div class="paper" id="selection2"><img src="./assets/kertas.png" alt="" /></div>

        <div class="scissor" id="selection3"><img src="./assets/gunting.png" alt="" /></div>
      </div>

      <div class="versus" id="finalres">VS</div>

      <div class="computer">
        <h2>COM</h2>

        <div class="rock com-rock"><img src="./assets/batu.png" alt="" /></div>

        <div class="paper com-paper"><img src="./assets/kertas.png" alt="" /></div>

        <div class="scissor com-scissor"><img src="./assets/gunting.png" alt="" /></div>
      </div>
    </div>

    <div class="reset">
      <div class="reset-button" onclick="window.location.reload()"><img src="./assets/logo-2.png" alt="" /></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="ch4.js"></script>
  </body>
</html>
